/* Aiden Buxton 4/23/21 */

main ul {
    list-style-image: url(../images/yogabullet.png);
    margin-left: 3em;
}

.schedule{
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    background-color: #F5F5F5;
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
    margin-bottom: .5em;
}
table, td{
    border: 1px solid #000000;
    text-align: center;
}


body { 
	background-color: #F5F5F5;
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
}

header { 
	background-color: #9BC1C2; 
    background-image: url(lilyheader.jpg);
	background-position: right;
	background-repeat: no-repeat;
}

h1 { 
	text-indent: 1em;
    line-height: 400%; 
}

nav ul li{ 
     font-weight: bold; 
}
nav{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

footer { 
	background-color: #9BC1C2; 
    font-size: small;
	text-align: center;
	font-style: italic;
	padding: .5em;
}
address{
	margin-bottom: .5em;
}

#indeximg{
	float: right;
}

/* Mobile */
@media only screen and (max-width: 641px) {

h1{
	font-size: 125%;
}
nav a{
	display: block;
	line-height: 0;
		
}
	 
img {
	display: none;
}


html {
	background-image: url(../images/yogamobile.png);
	background-size: cover;

}
body, .schedule {
	background-color: #ffffff00;
}
}

 /* Tablet */
 @media only screen and (min-width: 768px) {

img {
	max-width: 100%;
}
nav{
	display: inline;
}
body {
	background-color: #F5F5F5;
}

}
