/* Aiden B ModLog
Date Created: 8/25/21
Version: 1
Last Modified: 8/27/21
Modified by: Aiden
    8/26/21 created the basic template and first page of css.
    8/27/21 created .barItem .whbg .pic touched nothing else
    8/31/21 Added Theme red,blue, white, and default
    */

.cour {
    font-family: 'Source Code Pro', Courier, monospace;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

body {
    background-image: url(../img/backgroundsky.jpg);
    background-repeat: no-repeat;
    background-size:auto;
}

#logo {
    position: absolute;
    max-height: 30%;
    left: 0%;
    top: 0%;
    height: auto;
    width: auto;
}

#sideNav {
    height: 100%;
    width: 6%;
    position: fixed;
    top: 0%;
    left: 3%;
    right: auto;
}
#barBase {
    position: absolute;
    top: 30%;
    left: 3%;
    max-width: 80%;
    max-width: 500px;
    
}
.barItemClosed {
    margin-left: .5%;
    margin-right: 1%;
    margin-bottom: .5%;
    height: 4%;
    max-height: 1em;
    width: 4%;
    max-width: 1em;
}
.barItemOpen {
    margin-left: .5%;
    margin-right: 1%;
    margin-bottom: .5%;
    height: 4%;
    max-height: 1em;
    width: 4%;
    max-width: 1em;
    transform: rotate(45deg);
}

.barDescClosed {
    display: none;
    
}
.barDescOpen {
    display: block;
    margin-left: 6%;
    background-color: rgba(0, 0, 0, 0.062);
}
.barDescOpen p {
    margin-left: 4%;
    max-width: 50%;
}

.pic {
    display: inline;
    width: 100px;
    height: 2px;
}

.themeRed {

}

.themeBlue {

}

.themeWhite {
    background-color: white;
}

.themeDefault {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100vw;
}
