/*
 9/29/21
 modlog Aiden Buxton
 V.1
 9/29/21 - copied html & footer and wrote for the header & main.
 9/30/21 - added the accordion and transfered <p> contents
 10/01/21 - added mobile friendly table elements for project examples as well as span edits.
*/

html{
    background-image: url('../img/foggy2.jpg');
    background-size:auto;
    background-repeat: no-repeat;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    background-color: black;
}

/*HEADER*/
header {
    background-color: rgb(0, 0, 0);
    border-radius: 25px 25px 0px 0px;
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
}
nav li {
    display: inline-block;
    text-align: center;
}
svg { display: none; }
nav, header {
    text-align: center;
}
nav a {
    font-weight: bold;
    color: rgb(255, 255, 255);
    size: 40px;
}
header {
    color: white;
    padding-bottom: -30px;
}
/*Bunny*/
header img {
    position: fixed;
    width: 15%;
    min-width: 100px;
    height: auto;
    bottom: 0px;
    left: -15px;
}
/*Main*/
main {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(0, 0, 0, 0.445);
}
.g {
    color: white;
    text-align: center;
}
h1, p, h3, h2 {
    margin:0;
    padding: 1% 0%;
}

article {
    margin: 0% 10% 3% 10%;
    padding-top: 3%;
    color: white;
    text-align: center;
}
article div {
    background-color: rgba(255, 255, 255, 0.534);
    padding: 5%;
    font-weight: 600;
    color: black;
    text-align: justify;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 25px;
}
#cabin {
    
    max-width: 400px;
    width:40%;
    height:auto;
    margin: 3%;
    border-radius: 25px;
    display: block;
    ;
    margin-left: auto;
    margin-right: auto;
}

/*Gallery*/
table {
    width: 100%;
}
td {
    width: 33.33%;
}
thead {
    
    text-align: center;
    background-color: black;
    color: white;
}
tbody td {
    background-color: rgba(0, 0, 0, 0.466);
    padding: 5px;
    color: white;
}
.gallery {
    content: "";
    display: table;
    clear: both;
}
.gallery img {
    float: left;
    width: 33.33%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
div {
    margin: 0px;
}
.mobile {
    display: none;
}
/*Form*/
form {
    color: rgb(255, 255, 255);
    margin: 0% 5%;
    padding: 5% 0%;
    text-align: center;
}
form span {
    color: rgb(255, 50, 50);
    
    font-weight: bold;
    
}
.bad {
    color: rgb(255, 50, 50);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 100px;
}


/*Footer*/
footer {
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 25px 25px;
    display: block;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
    color: white;
    font-size: .8em;
}
footer a {
    color: white;
}


/*Accordion w3schools*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    background-color: #ccc;
}
  
.panel {
    padding: 0 3%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: large;
    
    
}
.panel p {
    padding: 5%;
}

.panel img {
    background-color: rgba(255, 255, 255, 0.534);
    max-width: 300px;
    width:40%;
    height:auto;
    margin: 3%;
    border-radius: 25px;
    display: block;
    border: solid black 3px;
}

@media screen and (max-width: 900px) {
    header, main, footer {
    margin-left: 10%;
    margin-right: 10%;
    }
}


/*mobile*/
@media screen and (max-width: 425px) {
    h1{
        font-size: large;
        padding: 5%;
    }
    h3{
        font-size: medium;
    }
    p{
        font-size: x-small;
    }
    footer p {
        font-size: x-small;
    }
    .gallery img {
        float: left;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }
    .mobile {
        display: block;
        font-size: smaller;
    }
    .wide {
        display: none;
        
    }
    nav svg{
        display: flex;
        
        margin: 5%;
    }
    nav h3 {
        display: none;
    }
    
}
